@charset "utf-8";
/* CSS Document */
*{ font-family:"微软雅黑";}
body,div,p,form,ul,ol,li,img,dd,dt,dl,fieldset, h1, h2, h3, h4, h5, h6 {margin:0;padding:0;border:0;-webkit-text-size-adjust:none;-webkit-touch-callout:none;}
table {border-collapse:collapse;border-spacing:0;}
ul li{ list-style:none;}
img {border:0px; max-width:100%; padding:0; margin:0px; }
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
a{text-decoration:none;outline: none; color:#2c2c2c;}

em { font-style:normal;}
body{ height:100%;min-width:320px;font:14px/1.5 'XinGothic-SinaWeibo','Microsoft Yahei','helvetica','arial';color:#333; background:#fff;}
input,textarea { font-size:14px;font:14px/1.5 'XinGothic-SinaWeibo','Microsoft Yahei','helvetica','arial';}
input[type="text"],input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none;}
select {-webkit-appearance:menulist;-moz-appearance:menulist; appearance:menulist;}
select { -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrapoverflow:hidden; height:40px; } 
select:after {content:"."; display:block; height:0; clear:both; visibility:hidden;} 
input:focus,textarea:focus{ outline:none;}
.clearfix:after {content: ".";display: block;height: 0;clear:both;visibility: hidden;}
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/ *
.clearfix {height: 1%;}
.clearfix {display: block;}
body {  margin:0 auto; color:#808080; background:#4a4a4a; position:relative;}
.fl{ float:left;}
.fr{ float:right;}
.topdownload {overflow:hidden;padding:8px 15px; color:#fff; line-height:26px; background:#666666;}
.topdownload img { width:26px; height:26px; margin-right:10px;}
.closeload { display:block; width:23px;height:23px; background:url(../images/trans-close.png) left center no-repeat; background-size:100% 100%}
.topdetaildl { padding:15px;background:#fff;}
.topdetaildl dt{ font-weight:bold; line-height:21px; color:#4a4a4a; margin-bottom:10px;}
.topdetaildl dd { margin-bottom:8px;}
.tdetd { width:70px;text-align:right}
.tdecont { margin-left:70px;}
.orangefont { color:#f7a623;}
.sharebot { padding:20px;}
.sharequan {background:#fff; border-radius:5px; border-bottom:7px solid #ff6e39; padding:10px 15px 18px; margin-bottom:10px;}
.sharedl {width:70px; text-align:center; color:#ff6e39}
.sharedl dt { font-size:20px;}
.sharediv { margin-left:80px; font-size:12px; border-left:1px solid #d8d8d8; padding-left:15px;margin-top:8px; line-height:21px;}
.loadbtn { display:block; background:#ff6e39; color:#fff; text-align:center; border-radius:5px; margin-bottom:10px; padding:10px 0; font-size:14px;}
.title { border: none; border-top: 1px solid #737373; margin-top:20px; margin-bottom:10px;}
.title legend{ padding: 0 10px;font-size:16px;text-align:center;color:#fff;}
.tipslist li {color:#fff; padding:3px 0;opacity:0.8}
/**弹层**/
.window-overlay {left: 0;overflow-y: auto;  position: fixed;  top: 0;  width: 100%;  z-index: 67; height:100%;}
.window-overlaybg {height:100%;position: fixed;left: 0; width: 100%; background:#000; opacity:0.7}
.window{ position:relative; z-index: 25; background:#fff; border-radius:5px;  border:1px solid #ddd;bottom:0; width:80%;margin:0 auto; height:180px;top:50%; margin-top:-90px;}
.alerttxtdiv { text-align:center;margin:0 20px}
.alerttxtdiv p { color:#000; margin:20px auto}
.tellput { border:1px solid #ddd; margin:0 auto; width:90%; padding:0 10px; line-height:35px;}
.telphonebtn { padding:8px 25px;background:#4a4a4a; border-radius:5px;margin:20px auto; color:#fff;display:block;text-align:center;
    border:none;}
.tx { display:none;}
.on { display:block;}



